body {
    background-image: url("../images/one-piece.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    padding: 1%;
    margin: 0;

}

#container {
    background-color: rgba(0, 0, 0, 0.514);
    width: 80%;
    margin:auto;
    color: white;
    padding:10px ;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;

}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}